@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100;300;600&display=swap');

*,
::after,
::before {
    box-sizing: unset !important;
}

:root {
    --blanco: #ffffff;
    --oscuro: #000000;
    --primario: #eb9b0f;
    --secundario: #8B0000;
    --gris: #2a2928;
    --grisClaro: #383635;
}

body {
    background-color: var(--oscuro);
    font-family: 'Anybody', cursive;
    font-size: 20px;
    font-weight: 100;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
}

a {
    /*color: var(--oscuro);*/
    text-decoration: none;
    height: 100%;
    text-align: center;
    font-weight: 300;

}

h3 {
    color: var(--oscuro);
    text-align: center;
    font-style: inherit;
    font-size: 20px;
}

h2 {
    color: var(--primario);
    font-style: italic;
    text-align: center;
    font-size: 24px;
}

section h3 {
    margin: 3%;
    color: var(--secundario);
}

section p {
    text-align: justify;
    margin: 0% 3% 3% 6%;
}

section img {
    margin: auto;
    text-align: center;

}

section iframe {
    margin: auto;
    align-items: center;
}

table {
    border: inline 1px;
    margin: 0 auto;
}

table,
tr,
td,
th {
    border: 1px dashed;
    background: var(--blanco);
}

span {
    color: var(--blanco);
}

form div label {
    color: var(--blanco);
    font-weight: bolder;
}

div p {
    color: var(--blanco);
    /*padding: 3% 5%;*/
    text-align: justify;
}

ul {
    list-style: none;
    font-size: 0
        /* truco por el uso de inline-block*/
}

li {
    display: inline-block;
    width: 15%;
    position: relative;
    font-size: 25px
}

ul ul {
    position: absolute;
    display: none;
    top: 30px;
}

ul ul li {
    display: block;
}



ul li:hover ul {
    display: block;
    padding: 2% 0% 0 40px;
    background-color: var(--gris);
    color: var(--primario);
    width: 80%;
    height: 90px;
    margin-left: -4%;
    margin-top: 5%;
    line-height: 25px;
}

iframe {
    text-align: center;
}

article img {
    align-content: center;
    margin: 2% 2% 0% 2%;
}

/*configuracion clases boostrasp*/
.col-6 {
    flex: 0 0 auto;
    width: 93%;
}

.form-select {
    padding: 0.375rem 0.85rem 0.375rem 0.75rem !important;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 93%;
}

.correo {
    width: 98% !important;
}

.mensaje {
    width: 93% !important;
}

.nombres {
    width: 43% !important;
}

.apellidos {
    margin: 1rem 0 0 4%;
}

.telefono {
    width: 40% !important;
    margin: 1rem 0 0 4%;
}

.tamaniImg {
    height: 320px !important;
    width: unset !important;
    margin: auto;
}

.tamaniImg:hover {
    transform: scale(1) !important;
}

div ul li a {
    color: var(--oscuro);
    text-decoration: double !important;
}

.carousel-item {
    height: 375px;
}

/* NAV BAR */
.nav-item {
    width: 25% !important;
}

.bg-light {
    background: var(--grisClaro) !important;
}

.nav-link {
    color: var(--blanco);
}

.nav-link.active {
    color: var(--primario) !important;
}

.navbar-nav {
    font-weight: 400;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: var(--primario) !important;
    width: 100px;
}

.dropdown-menu {
    height: 100px !important;
}

.navbar {
    margin: 20px 0;
}

/*clases*/
.menuP {
    background-color: var(--gris);
    width: 40%;
    height: 40px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.menuP:hover {
    -webkit-transform: scale(.5);
    transform: scale(1.1);
}

.menuP,
.submenu {
    text-align: center;
}

.submenu {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2%;
    color: #000000;
    height: 40px;
    background: rgb(112, 112, 111);
    background: linear-gradient(196deg, rgba(112, 112, 111, 1) 0%, rgba(194, 158, 53, 1) 17%, rgba(129, 118, 91, 1) 34%, rgba(172, 148, 45, 1) 62%, rgba(128, 125, 116, 1) 76%, rgba(189, 162, 64, 1) 91%, rgba(147, 147, 196, 0.8522759445575105) 99%);
    z-index: 100;
}


.menuP>li,
.submenu>li {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    line-height: 40px;

}

.submenu li:hover {
    background-color: #2a2928;
    color: var(--blanco) !important;
}

.submenu li:hover a {
    color: var(--blanco);
}

.submenu li a:hover {
    color: var(--primario);
}

.menuP a {
    color: var(--primario);
    font-size: 19px;

}

.menuP a:hover {
    color: var(--blanco);

}


.submenu a {
    color: #000000;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fondoSeccion {
    background-color: rgb(246, 226, 218);
    border-style: double;
}

.rutinas>div {
    display: inline-block;
    text-align: center;
}

.collage {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    flex-direction: column;
}

.collage img {
    width: 84%;
    padding: 5px;
}

.piePagina {
    /*background-color: rgb(147, 29, 29);*/
    background: rgb(70, 15, 15);
    background: linear-gradient(196deg, rgba(70, 15, 15, 1) 22%, rgba(161, 4, 4, 1) 47%, rgba(98, 36, 36, 1) 83%);
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 0.5% 0;
    margin-top: 10px;

}

.fondoGris {
    background-color: #2a2928;
    padding: 6%;

}

.fondoGrisF {
    background-color: #2a2928;
    padding: 2%;
    border-style: double;
    border-color: #ffffff;
}

.fondoGrisFlex {
    display: flex;

}

.bloqueFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* predeterminado */
}

.bloqueFotos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.bloqueFotos img {
    width: 32%;
    height: 270px;
    padding: 1% 0;
    align-content: space-between;
    object-fit: cover;
}





.fondoBlanco {
    background-color: var(--blanco);
    color: var(--oscuro);
}

.productos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productos div {
    background-color: var(--blanco);
    width: 20%;
    margin: 0 10px;
    padding: 10px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.productos img {
    width: 100%;
}

.productos p {
    color: var(--oscuro);
    font-weight: 300;
    border-bottom: 2px solid var(--oscuro);
}

.productos p:nth-of-type(1) {
    font-weight: 600 !important;
}

/*

/*===========================================*/
/*GRILLA INDEX*/
#grilla {
    display: grid;
    grid-template-areas:
        "header header header"
        "articulo1 articulo2 publicidad"
        "articulo3 articulo4 publicidad"
        "footer footer footer";
    grid-template-rows: 500px 40% 40% 50px;
    grid-template-columns: repeat(3, 33%);
}

.border {
    border: 1px solid black;
    text-align: center;

}

header .border img {
    width: 50%;
}

nav#nav1 {
    grid-area: nav;
}

nav#nav2 {
    grid-area: nav2;
}



/*header {
    grid-area: banner;
    text-align: center;
}
header img {
    height: 350px;
    width: max-content;
}*/
header {
    grid-area: header;
    width: 100%;
}

article#articulo1 {
    grid-area: articulo1;
}

article#articulo2 {
    grid-area: articulo2;
}

article#articulo3 {
    grid-area: articulo3;
}

article#articulo4 {
    grid-area: articulo4;
}

aside {
    grid-area: publicidad;
}

footer {
    grid-area: footer;
}

#grilla article[id^="articulo"] {
    width: 90%;
}

/* GRilla pagina entrenamiento*/
#grilla2 {
    display: grid;
    grid-template-areas:
        "header header"
        "iframe iframe"
        "articulo5 articulo6"
        "footer footer";
    grid-template-rows: 500px 450px 580px 50px;
    grid-template-columns: repeat(2, 50%);
}

article#articulo5 {
    grid-area: articulo5;
}

article#articulo6 {
    grid-area: articulo6;
}

aside {
    grid-area: publicidad;
}

iframe {
    grid-area: iframe;
    margin: 0 auto
}

section.fondogris {
    grid-area: section1;
}

[id^="grilla"]>header>div>img {
    height: 230px;
    width: auto;
}

/*grilla3*/

#grilla3 {
    display: grid;
    grid-template-areas:
        "header header header"
        "bloqueFotos bloqueFotos bloqueFotos"
        "informacion informacion informacion"
        "formulario formulario formulario"
        "footer footer footer";
    grid-template-rows: 200px 900px 160px 800px 50px;
    grid-template-columns: repeat(3, 33%);
}

section.bloqueFotos {
    grid-area: bloqueFotos;
}

div.informacion {
    grid-area: informacion;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;

}

/*grilla4*/

#grilla4 {
    display: grid;
    grid-template-areas:
        "header header header header"
        "carta1 carta2 carta3 carta4"
        "footer footer footer footer";
    grid-template-rows: 500px 700px 50px;
    grid-template-columns: repeat(4, 25%);

}

div.carta1 {
    grid-area: carta1;
    color: var(--oscuro);
}

div.carta2 {
    grid-area: carta2;
}

div.carta3 {
    grid-area: carta3;
}

div.carta4 {
    grid-area: carta4;
}


/*grilla5*/

#grilla5 {
    display: grid;
    grid-template-areas:
        "parrafo espacio1"
        "parrafo espacio2"
        "parrafo espacio3"
        "parrafo espacio4";
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: 30% 70%;
    color: var(--blanco);
    text-align: justify;
    margin: 2%;
}

div.parrafo {
    grid-area: parrafo;
}

p.espacio1 {
    grid-area: espacio1;
}

p.espacio2 {
    grid-area: espacio2;
}

p.espacio3 {
    grid-area: espacio3;
}

p.espacio4 {
    grid-area: espacio4;
}

/*grilla6*/

#grilla6 {
    display: grid;
    grid-template-areas:
        "header header header"
        "noticias1 noticias2 noticias3"
        "footer footer footer";
    grid-template-rows: 640px 600px 50px;
    grid-template-columns: repeat(3, 33%);
}

section.noticias1 {
    grid-area: noticias1;
}

section.noticias2 {
    grid-area: noticias2;
}

section.noticias3 {
    grid-area: noticias3;
}

/*grilla7*/

#grilla7 {
    display: grid;
    grid-template-areas:
        "header header"
        "informacion formulario"
        "footer footer";
    grid-template-rows: 480px 800px 50px;
    grid-template-columns: repeat(2, 50%);
}

section.formulario {
    grid-area: formulario;
    width: 80%;
    margin: auto;
    transform: translateY(-25px);
}

section.informacion {
    grid-area: informacion;
    color: #ffffff;
    background: url(../images/fondo2.jpg);
    background-size: 240px;
    border-radius: 25px;
    height: 330px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    padding: 6%;
}

section.informacion>* {
    color: #000 !important;
    background-color: wheat;
    border-radius: 15px;
    font-weight: 400;
}

section.informacion>h2 {
    font-weight: 600;
}

/* Check button */

.form-check-input:checked {
    background-color: #c30507;
    border-color: #c30507;
}

.form-check-input[type=radio] {
    border-radius: 10%;
}

/* Cards */
.card {
    font-weight: 400;
}

.card img:hover {
    transform: scale(1);
}

img.card-img-top {
    height: 200px;
    object-fit: contain;
    padding-top: 30px;
}

p.card-text {
    border-top: double;
    padding-top: 15px;
}

/*clases*/
.campo {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.redes {
    text-align: center;
}

.redes img {
    width: 50px;
}

/* RESPONSIVE UI */

@media only screen and (max-width: 600px) {
    #grilla {
        display: grid;
        grid-template-areas:
            "header"
            "articulo1"
            "articulo2"
            "articulo3"
            "articulo4"
            "publicidad"
            "footer";
        grid-template-rows: 500px 16% 16% 16% 16% 20% 50px;
        grid-template-columns: 100%;
    }

    #transicionLogo>img {
        vertical-align: unset !important;
    }

    .navbar {
        height: 40px;
    }

    .navbar-nav {
        font-weight: 400;
        z-index: 1;
        position: relative;
        background: var(--gris);
        padding: 0 5%;
    }

    [id^="grilla"]>header>div>img {
        width: 100%;
    }

    .imgPrincipal2 {
        transform: translateY(50px);
        animation-name: unset !important;
        animation-iteration-count: unset !important;
        animation-timing-function: unset !important;
        animation-duration: unset !important;
        animation-delay: unset !important;
    }

    footer.piePagina {
        font-size: 14px;
    }

    #grilla article[id^="articulo"] {
        margin: auto;
    }

    #grillaInterior {
        display: grid;
        grid-template-areas:
            "nav"
            "nav2"
            "fotoPrincipal";
        grid-template-rows: 140px 50px 50px;
        grid-template-columns: 100%;
    }

    #grillaInterior .border {
        grid-area: fotoPrincipal;
    }

    header .border img {
        display: none;
    }

    .encabezado {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

    }

    .encabezado img {
        margin-top: 10px;
    }

    .menuP {
        width: 100%;
        padding: 0;

    }

    .menuP a {
        font-size: 14px;
    }

    .menuP>li {
        line-height: unset !important;
    }

    .submenu {
        background-color: unset !important;
    }

    .submenu>li {
        display: block;
        background-color: #DE9E30;
        width: 60%;
        padding: 0;
    }

    .submenu li {
        font-size: 16px;
        height: 30px;
        line-height: 2;
        margin-top: 2px;
        left: -20px;
        width: 100%;
    }

    .submenu ul li {
        height: 30%;
    }

    ul li:hover ul {
        margin-left: 55%;
        margin-top: -6px;
        z-index: 1;
        width: 30%;
        font-size: 16px;

    }

    .collage img {
        width: 100%;
    }

    .piePagina {
        padding: 0;

    }

    .piePagina p {
        text-align: unset;
        font-size: 13px;
    }

    .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    .productos div {
        width: 100%;
        margin: 10px;
    }


    .submenu>li {
        display: block;
        width: 100%;
    }

    .menuP>li {
        width: 25%
    }

    .submenu>li {
        background-color: #DE9E30;
    }

    .submenu {
        background-color: unset !important;
    }

    .menuP {
        height: unset !important;
        text-align: unset !important;
    }
}

/* ====================ANIMACIONES ==============================*/
/*animacion imagen principal */
.imgPrincipal2 {
    animation-name: animgPrincipal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-delay: .5s;
    text-align: center;
}

@keyframes animgPrincipal {
    0% {
        transform: translateX(800px);
        opacity: 0;

    }

    50% {
        transform: translateX(20px);
        opacity: 1;

    }

    100% {
        transform: translateX(0px);
        opacity: 2;

    }
}

/*============================TRANSICIONES=======================*/
/* transicion para logo, hover*/



#transicionLogo {

    -webkit-transition: 1s linear;
    transition: 1s linear;
}

#transicionLogo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}

/* transicion imagen */
img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* transformacion divProductos*/
.transformacionProductos {
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.transformacionProductos:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);

}

.transformacionProductos img:hover {
    transform: scale(1);
}
